*.o
*.a
Microline/XmL/Makefile.linux
Microline/XmL/Makefile.linux-static
Microline/XmL/Makefile.solaris
Microline/XmL/Makefile.freebsd
Xlt/Makefile.linux
Xlt/Makefile.linux-static
Xlt/Makefile.solaris
Xlt/Makefile.freebsd
source/Makefile.linux
source/Makefile.linux-static
source/Makefile.solaris
source/Makefile.freebsd
source/nc
source/nedit
source/xnc
source/xnedit
source/parse.c
util/Makefile.linux
util/Makefile.linux-static
util/Makefile.solaris
util/Makefile.freebsd
util/check_lin_tif
