*.o
*.a
.DS_Store
Microline/XmL/Makefile.linux
Microline/XmL/Makefile.linux-static
Microline/XmL/Makefile.solaris
Microline/XmL/Makefile.freebsd
Microline/XmL/Makefile.macosx
Microline/XmL/Makefile.macos
Xlt/Makefile.linux
Xlt/Makefile.linux-static
Xlt/Makefile.solaris
Xlt/Makefile.freebsd
Xlt/Makefile.macosx
Xlt/Makefile.macos
source/Makefile.linux
source/Makefile.linux-static
source/Makefile.solaris
source/Makefile.freebsd
source/Makefile.macosx
source/Makefile.macos
source/nc
source/nedit
source/xnc
source/xnedit
source/parse.c
source/version.h
util/Makefile.linux
util/Makefile.linux-static
util/Makefile.solaris
util/Makefile.freebsd
util/Makefile.macosx
util/Makefile.macos
util/check_lin_tif
resources/macos/build
resources/macos/install
gmon.out
.idea
